@{
    ViewData["Title"] = "Home Page";
}

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    EVENTHUB
                </a>

                <a href="ticket.html" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_6">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <h1 class="text-white mb-5">EVENTHUB O Seu Portal De Eventos</h1>

                        <a class="btn custom-btn smoothscroll" href="#section_2">Quem Somos?</a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="~/video/pexels-2022395.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-white mb-4">Sobre a EVENTHUB</h2>

                            <p class="text-white">
                                </p>
                               EventHub é uma plataforma inovadora projetada para conectar organizadores de eventos e participantes de maneira eficiente e conveniente. Com uma interface intuitiva e recursos robustos, o EventHub simplifica o processo de descoberta, divulgação e participação em uma ampla variedade de eventos, desde conferências e seminários até shows e festivais locais.
                                Os organizadores de eventos podem facilmente criar perfis detalhados para seus eventos, incluindo informações essenciais como data, localização, agenda, palestrantes/convidados especiais, custos de ingressos e detalhes adicionais relevantes. Eles também têm a opção de personalizar a aparência e o estilo de suas páginas de evento para garantir uma representação fiel da marca e do tema do evento.
                            <h6 class="text-white mt-4"></h6>

                            <p class="text-white"></p>

                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <img src="~/images/peoples.jpg" class="about-image img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="artists-section section-padding" id="section_3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Proximos Eventos</h1>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="~/artists-image-wrap">
                              <a asp-action="Details"> 
                                <img src="images/BarraRockFest Logo.jpg"
                                    class="artists-image img-fluid">
                                </a>                                      
                            </div>
                        </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Interessado? Entre em Contato</h2>

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                                aria-labelledby="nav-ContactForm-tab">
                                <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post"
                                    role="form">
                                    <div class="contact-form-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="text" name="contact-name" id="contact-name"
                                                    class="form-control" placeholder="Nome Completo" required>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="email" name="contact-email" id="contact-email"
                                                    class="form-control"
                                                    placeholder="Email" required>
                                            </div>
                                        </div>

                                        <input type="text" name="contact-company" id="contact-company"
                                            class="form-control" placeholder="Companhia" required>

                                        <textarea name="contact-message" rows="3" class="form-control"
                                            id="contact-message" placeholder="Assunto"></textarea>

                                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                            <button type="submit" class="form-control">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>